#page-mod-congrea-view .wrapper-button .clear,
#page-mod-congrea-view .wrapper-record-list .clear {
    clear: both;
}
#page-mod-congrea-view .wrapper-record-list {
    text-align: right;
    padding: 15px 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    margin-top: 20px;
}
#page-mod-congrea-view .wrapper-button .clear,
#page-mod-congrea-view .wrapper-record-list .clear {
    clear: both;
}
#page-mod-congrea-view .wrapper-button {
    padding: 20px 15px;
    border: #ddd 1px solid;
    border-radius: 5px;
}
#page-mod-congrea-view .wrapper-record-list {
    text-align: right;
    padding: 15px 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    margin-top: 20px;
}
#page-mod-congrea-quizreport table.flexible thead th,
.generaltable thead th.header.c4,
#page-mod-congrea-quizreport table.flexible thead th,
.generaltable thead th.header.c5,
#page-mod-congrea-quizreport .generaltable td.cell.c4,
#page-mod-congrea-quizreport .generaltable td.cell.c5 {
    text-align: center;
}
#page-mod-congrea-view input.playbtn {
    background: transparent url([[pix:congrea|play]]) no-repeat top left;
    background-size: 17px;
    border: none;
    padding-top: 1px;
    float: left;
    margin-right: 5px;
    box-shadow: unset;
    height: 24px;
    margin-top: 3px;
}
#page-mod-congrea-view .navbar .popover-region-toggle img.icon {
    padding: 12px 10px;
}
#page-mod-congrea-view .navbar .search-input-wrapper form input {
    padding: 14px 8px;
}
#page-mod-congrea-view .navbar-inner .search-input-wrapper.nav-link {
    height: auto;
}
#page-mod-congrea-view .wrapper-record-list table td.centeralign.cell.c0 {
    max-width: 300px;
}
#page-mod-congrea-view td.cell.c2 form input[name="submit"]:focus {
    outline: none;
}

@media (max-width: 1100px) {
    #page-mod-congrea-view .wrapper-record-list table td.centeralign.cell.c0 {
        max-width: 264px;
    }
}
